{% extends "prod/base.html" %}
{% block sidebar %}
                    <li class="nav-item">
                        <a class="nav-link {% if selected == 'qcontrols' %}active{% endif %}" aria-current="page" href="{% url 'qcontrols' %}">
                        <span data-feather="home"></span>
                        qualité/control
                        </a>
                    </li>
{% endblock %}

{% block ajout %}
<div class="raw p-4">
  <div class="col-sm-12 mt-3">
      <div class= "card">
          <div class="card-header">
              Ajout / Recherche
          </div>
          <form action="{% url 'qcontrols' %}" method="post">
              <div class="card-body">
                  {%csrf_token %}
                  <label for="packid"> </label>
                  {{ form.packid}}
                  <label for="doc"> </label>
                  {{ form.odc}}
                  <label for="quantite"> </label>
                  {{ form.quantite}}
              </br>
              </br>
                  <div class="text-left">
                  <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Recherche</button>    
                  </div>                  
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}
{% block content %}
<h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
           <tr>
                <th scope="col"> pack_ID</th>
                <th scope="col">date </th>
                <th scope="col">machine</th>
                <th scope="col">N°ODC</th>
                <th scope="col">Quantité</th>
                <th scope="col">carte perso ok  </th>
                <th scope="col">rejet machine</th>
                <th scope="col">retour au stock</th>
                <th scope="col">Cartes Embalees</th>
                <th scope="col">ab</th>
                <th scope="col">reprod</th>
                <th scope="col">autres</th>
                <th scope="col">commentaire</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for qual in qcontrol_liste %}
            <tr {% if qual.ab is  None  %} style="background-color:rgb(245, 212, 212);" {% endif %}>
                <td><a href="{% url 'detail_qcontrol' qual.id %}">{{ qual.preprod.pack_id }}</td>
                <td style="overflow: hidden;">{{qual.date_mise_a_jour|date:"d-m-Y"}}</td>
                <td>{{ qual.preprod.machine }}</td>
                <td>{{ qual.preprod.odc }}</td>
                <td>{{ qual.preprod.quantite }}</td>
                <td>{{ qual.preprod.carte_perso_ok }}</td>
                <td>{{ qual.preprod.rejet_machine }}</td>
                <td>{{ qual.preprod.retoure_stock }}</td>
                <td>{{ qual.carte_embalee }}</td>
                <td>{{ qual.ab }}</td>
                <td>{{ qual.reprod }}</td>
                <td>{{ qual.autres}}</td>
                <td class="td_faical_slice" style="overflow: hidden;">{{ qual.commentaire}}</td>
                <td style="overflow: hidden;"><a href="{% url 'update_qcontrol' qual.id %}"><i data-feather="edit"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div classe="pagination">
        {% if qcontrol_liste.has_previous %}
        <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.previous_page_number}}">Précedente</a>
        {% endif %}

        <span class="current">
            page {{ qcontrol_liste.number}} sur {{ qcontrol_liste.paginator.num_pages}}
        </span>
        {% if qcontrol_liste.has_next %}
        - <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.next_page_number}}">Suivante</a>
        {% endif %}
    </div>
</div>
{% endblock %}