{% extends "prod/base.html" %}
{% block sidebar %}
        <li class="header">Qualité control</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'qcontrols' %}active{% endif %}">
            <a href="{% url 'qcontrols' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> qualité/control
            </a>
          </li>
{% endblock %}
{% block ajout %}
<div class="text-right">
    <a href="{% url 'create_qcontrol' %}" class="btn btn-info">Ajouter une entree</a>
</div>
{% endblock %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th> pack_ID</th>
                <th>date </th>
                <th>machine</th>
                <th>N°ODC</th>
                <th>Quantité</th>
                <th >carte ok </th>
                <th>rejet</th>
                <th>retour au stock</th>
                <th>commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% for qual in qcontrol_liste %}
            <tr>
                <td><a href="{% url 'detail_qcontrol' qual.id %}">{{ qual.preprod.pack_id }}</td>
                <td>{{ qual.date_mise_a_jour }}</td>
                <td>{{ qual.preprod.machine_name }}</td>
                <td>{{ qual.preprod.odc }}</td>
                <td>{{ qual.preprod.quantite }}</td>
                <td>{{ qual.carte_ok }}</td>
                <td>{{ qual.rejet }}</td>
                <td>{{ qual.retoure_stock }}</td>
                <td>{{ qual.commentaire}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div classe="pagination">
        {% if qcontrol_liste.has_previous %}
        <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.previous_page_number}}">Précedente</a>
        {% endif %}

        <span class="current">
            page {{ qcontrol_liste.number}} sur {{ qcontrol_liste.paginator.num_pages}}
        </span>
        {% if qcontrol_liste.has_next %}
        - <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.next_page_number}}">Suivante</a>
        {% endif %}
    </div>
</div>
{% endblock %}