{% extends "prod/base.html" %}
{% block sidebar %}
        <li class="header">Qualité control</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'qcontrols' %}active{% endif %}">
            <a href="{% url 'qcontrols' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> qualité/control
            </a>
          </li>
{% endblock %}

{% block ajout %}
<div class="raw p-4">
  <div class="col-sm-12 mt-3">
      <div class= "card">
          <div class="card-header">
              Ajout / Recherche
          </div>
          <form action="{% url 'qcontrols' %}" method="post">
              <div class="card-body">
                  {%csrf_token %}
                  <label for="packid"> </label>
                  {{ form.packid}}
                  <label for="doc"> </label>
                  {{ form.odc}}
                  <label for="quantite"> </label>
                  {{ form.quantite}}
              </br>
              </br>
                  <div class="text-left">
                  <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Recherche</button>    
                  </div>                  
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th> pack_ID</th>
                <th>date </th>
                <th>machine</th>
                <th>N°ODC</th>
                <th>Quantité</th>
                <th >carte perso ok  </th>
                <th>rejet machine</th>
                <th>retour au stock</th>
                <th>Cartes Embalees</th>
                <th>ab</th>
                <th>reprod</th>
                <th>autres</th>
                <th>commentaire</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for qual in qcontrol_liste %}
            <tr {% if qual.ab is  None  %} style="background-color:rgb(245, 212, 212);" {% endif %}>
                <td><a href="{% url 'detail_qcontrol' qual.id %}">{{ qual.preprod.pack_id }}</td>
                <td style="overflow: hidden;">{{qual.date_mise_a_jour|date:"d-m-Y"}}</td>
                <td>{{ qual.preprod.machine }}</td>
                <td>{{ qual.preprod.odc }}</td>
                <td>{{ qual.preprod.quantite }}</td>
                <td>{{ qual.preprod.carte_perso_ok }}</td>
                <td>{{ qual.preprod.rejet_machine }}</td>
                <td>{{ qual.preprod.retoure_stock }}</td>
                <td>{{ qual.carte_embalee }}</td>
                <td>{{ qual.ab }}</td>
                <td>{{ qual.reprod }}</td>
                <td>{{ qual.autres}}</td>
                <td class="td_faical_slice" style="overflow: hidden;">{{ qual.commentaire}}</td>
                <td style="overflow: hidden;"><a href="{% url 'update_qcontrol' qual.id %}">modifier</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div classe="pagination">
        {% if qcontrol_liste.has_previous %}
        <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.previous_page_number}}">Précedente</a>
        {% endif %}

        <span class="current">
            page {{ qcontrol_liste.number}} sur {{ qcontrol_liste.paginator.num_pages}}
        </span>
        {% if qcontrol_liste.has_next %}
        - <a href="{% url 'qcontrols' %}?page={{ qcontrol_liste.next_page_number}}">Suivante</a>
        {% endif %}
    </div>
</div>
{% endblock %}