{% extends "prod/base.html" %}
{% block sidebar %}
        <li class="header">Qualité control</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'qcontrols' %}active{% endif %}">
            <a href="{% url 'qcontrols' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> qualité/control
            </a>
          </li>
{% endblock %}
{% block content %}

{% if object %}
<h3>Modification de {{object.pack_id}}</h3>
{% else %}
<h3>Créer une nouvelle entrée</h3>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <div class="row">
        <div class="col">
            {% if object %}
            <a href="{% url 'detail_qcontrol' object.id %}" class="btn btn-secondary">Annuler</a>
            {% else %}
            <a href="{% url 'qcontrols' %}" class="btn btn-secondary">Annuler</a>
            {% endif %}
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>

</form>
{% endblock %}