{% extends "prod/base.html" %}
{% block sidebar %}
        <li class="header">production</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'preprods' %}active{% endif %}">
            <a href="{% url 'preprods' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> production
            </a>
          </li>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        pack id
        <a href="{% url 'update_preprod' preprod.id %}" class="close">
            <i class="fas fa-pen"></i>
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col"><strong>pack</strong> : {{preprod.pack_id}}<br></div>
            <div class="col"><strong>date</strong> : {{preprod.date_mise_a_jour}}<br></div>
            <div class="col"><strong>machine</strong> : {{preprod.machine_name}}<br></div>
        </div>
        <div class="row">
            <div class="col"><strong>odc</strong> : {{preprod.odc}}<br></div>
            <div class="col"><strong>quantite</strong> : {{preprod.quantite}}<br></div>
            <div class="col"><strong>carte_perso_ok</strong> : {{preprod.carte_perso_ok}}<br></div>
        </div>
        <div class="row">
            <div class="col"><strong>rejet_machine</strong> : {{preprod.rejet_machine}}<br></div>
            <div class="col"><strong>retoure_stock</strong> : {{preprod.retoure_stock}}<br></div>
        </div>
        <div class="row">
            <div class="col"><strong>commentaire</strong> : {{preprod.commentaire}}<br></div>
        </div>
    </div>

</div>
{% endblock %}