{% extends "prod/base.html" %}
{% block sidebar %}
        <li class="header">production</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'preprods' %}active{% endif %}">
            <a href="{% url 'preprods' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> production
            </a>
          </li>
{% endblock %}
{% block ajout %}
<div class="raw p-1">
  <div class="col-sm-8 mt-3">
      <div class= "card">
          <div class="card-header">
              Ajout / Recherche
          </div>
          <form action="{% url 'preprods' %}" method="post">
            
              <div class="card-body">
                {%csrf_token %}
                <div class="md-form md-outline input-with-post-icon datepicker"> 
                  {{ form.date}}
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
                </br>
                <div> {{ form.packid}} {{ form.odc}} {{ form.quantite}} 
                  <div class="text-right">
                    <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i>Recherche</button>    
                    </div>     
                </div>
                                           
              </div>
          </form>
      </div>
  </div>
</div>

<div class="text-right">
  <a href="{% url 'create_preprod' %}" class="btn btn-info">Ajouter une entree</a>
</div>
</br>
{% endblock %}
{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th> ID_PACK</th>
                <th>date </th>
                <th>machine</th>
                <th>N°ODC</th>
                <th>Quantité</th>
                <th >carte ok perso</th>
                <th>rejet_machine</th>
                <th>retour au stock</th>
                <th>commentaire</th>
                <th>action</th>

            </tr>
        </thead>
        <tbody>
            {% for prod in preprod_liste %}
            <tr>
                <td><a href="{% url 'detail_preprod' prod.id %}">{{ prod.pack_id }}</td>
                <td>{{ prod.date_mise_a_jour|date:"d-m-Y"  }}</td>
                <td>{{ prod.machine }}</td>
                <td>{{ prod.odc }}</td>
                <td>{{ prod.quantite }}</td>
                <td>{{ prod.carte_perso_ok }}</td>
                <td>{{ prod.rejet_machine }}</td>
                <td>{{ prod.retoure_stock }}</td>
                <td>{{ prod.commentaire}}</td>
                <td><a href="{% url 'update_preprod' prod.id %}">modifier</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div classe="pagination">
        {% if preprod_liste.has_previous %}
        <a href="{% url 'preprods' %}?page={{ preprod_liste.previous_page_number}}">Précedente</a>
        {% endif %}

        <span class="current">
            page {{ preprod_liste.number}} sur {{ preprod_liste.paginator.num_pages}}
        </span>
        {% if preprod_liste.has_next %}
        - <a href="{% url 'preprods' %}?page={{ preprod_liste.next_page_number}}">Suivante</a>
        {% endif %}
    </div>
</div>
{% endblock %}