{% extends "prod/base.html" %}
{% block sidebar %}
        <!--li class="header">production</li>
          <li classe="{% if selected == 'home' %}active{% endif %}">
            <a href="{% url 'hello' %}">
              <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
          </li>
          <li classe="{% if selected == 'preprods' %}active{% endif %}">
            <a href="{% url 'preprods' %}">
              <i class="fa fa-tachometer" aria-hidden="true"></i> production
            </a>
          </li-->
          <li class="nav-item">
            <a class="nav-link {% if selected == 'preprods' %}active{% endif %}" aria-current="page" href="{% url 'preprods' %}">
              <span data-feather="home"></span>
              Production
            </a>
          </li>
{% endblock %}
{% block content %}

{% if object %}
<h3>Modification du Pack-ID:  {{object.pack_id}}</h3>
{% else %}
<h3>Créer une nouvelle entrée</h3>
{% endif %}
        </br>
        </br>
<form method="post" action="" style="text-align:center;">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        <div class="form-group row">  
          <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label col-form-label-sm">{{ field.label }} </label>
          <div class="col-sm-3">
          {{ field }}
          </div>
        </div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}  


    <div class="form-group row">
        <div class="col-sm-4">
            {% if object %}
            <a href="{% url 'detail_preprod' object.id %}" class="btn btn-secondary">Annuler</a>
            {% else %}
            <a href="{% url 'preprods' %}" class="btn btn-secondary">Annuler</a>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>

</form>
{% endblock %}