{% extends "prod/base1.html" %}

{% block nouvelle_entree %}
      <button class="btn btn-primary btn-sm d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" id="btnNavbarSearch" type="button">
        <a href="{% url 'create_preprod' %}" style="text-decoration: none; color : white">Nouveau Package <span data-feather="file"></span> </a>
      </button>
{% endblock %}


{% block sidebar %}
        
          <a class="nav-link {% if selected == 'preprods/4' %}active{% endif %}" aria-current="page" href="{% url 'preprods' %}">
                          <div class="sb-nav-link-icon"><i data-feather="home"></i></div>
                          Production
          </a>
          
{% endblock %}
{% block content %}
<div class="card m-3 ">
    <div class="card-header d-flex align-items-center justify-content-around ">
        <p>pack id :</p>
        <p>{{preprod.pack_id}}</p>
        <a href="{% url 'update_preprod' preprod.id %}" class="close">
            <i data-feather="edit"></i>
        </a>
    </div>
    <div class="card-body p-4">

        <div class="mb-3 row bg-light py-3">
            <div class="col-sm-3 text-right " ><strong>pack</strong> :</div> <div class="col-sm-3">{{preprod.pack_id}}</div>
            <div class="col-sm-3 text-right " ><strong>machine</strong> :</div> <div class="col-sm-3">{{preprod.machine}}</div>
          </div>
        <div class="mb-3 row bg-light py-3">
          <div class="col-sm-3 text-right " ><strong>date</strong>:</div> <div class="col-sm-3">{{preprod.date_mise_a_jour}}</div>
          <div class="col-sm-3 text-right " ><strong>machine</strong> :</div> <div class="col-sm-3">{{preprod.machine}}</div>
        </div>
        <div class="mb-3 row bg-light py-3">
          <div class="col-sm-3 text-right " ><strong>odc</strong> :</div> <div class="col-sm-3"> {{preprod.odc}}</div>
          <div class="col-sm-3 text-right " ><strong>quantite</strong> :</div> <div class="col-sm-3"> {{preprod.quantite}}</div>
        </div>
        <div class="mb-3 row bg-light py-3">
          <div class="col-sm-3 text-right " ><strong>carte_perso_ok</strong> :</div> <div class="col-sm-3"> {{preprod.carte_perso_ok}}</div>
          <div class="col-sm-3 text-right " ><strong>rejet_machine</strong> :</div> <div class="col-sm-3"> {{preprod.rejet_machine}}</div>
        </div>
        <div class="mb-3 row bg-light py-3">
          <div class="col-sm-3 text-right " ><strong>retoure_stock</strong> :</div> <div class="col-sm-3"> {{preprod.retoure_stock}}</div>
          <div class="col-sm-3 text-right " ><strong>autres</strong> :</div> <div class="col-sm-3"> {{preprod.autres}}</div>
        </div>
        <div class="mb-3 row bg-light py-3">
          <div class="col-sm-3 text-right " ><strong>commentaire</strong> :</div> <div class="col-sm-9"> {{preprod.commentaire}}</div>
        </div>
      </div>  
    </div>

</div>



{% endblock %}